<nav class="navbar navbar-default navbar-fixed-top" ng-controller="MenuController">
    <div class="container-fluid">
        <ul class="nav navbar-button hidden-sm hidden-md hidden-lg">
            <li ng-class="getClassForItem(paths.url.home)">
                <a class="btn btn-default" href="#{{::paths.url.home}}">
                    <i class="glyphicon glyphicon-sunglasses"></i>
                </a>
            </li>
            <li ng-class="getClassForItem(paths.url.todo)">
                <a class="btn btn-default" href="#{{::paths.url.todo}}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </li>
        </ul>
        
        <ul class="nav navbar-nav hidden-xs">
            <li ng-class="getClassForItem(paths.url.home)">
                <a href="#{{::paths.url.home}}">{{::paths.titles.home}}</a>
            </li>
            <li ng-class="getClassForItem(paths.url.todo)">
                <a href="#{{::paths.url.todo}}">{{::paths.titles.todo}}</a>
            </li>
        </ul>

    </div>
</nav>
