<nav class="navbar navbar-default" ng-controller="MenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="glyphicon glyphicon-sunglasses"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
                <i class="glyphicon glyphicon-baby-formula"></i>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false">
                <i class="glyphicon glyphicon-send"></i>
            </button>
            
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapseMenu">
            <ul class="nav navbar-nav">
                <li ng-class="getClassForItem(paths.url.home)">
                    <a class="navbar-brand" href="#{{::paths.url.home}}">{{::paths.titles.home}}</a>
                </li>
                <li ng-class="getClassForItem(paths.url.todo)">
                    <a href="#{{::paths.url.todo}}">{{::paths.titles.todo}}</a>
                </li>
                <li ng-class="getClassForItem(paths.url.bottle)">
                    <a href="#{{::paths.url.bottle}}">{{::paths.titles.bottle}}</a>
                </li>
                <li ng-class="getClassForItem(paths.url.thing)">
                    <a href="#{{::paths.url.thing}}">{{::paths.titles.thing}}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
