<form name="itemForm" class="form-horizontal jumbotron" ng-submit="saveItem({ stuff: model })" novalidate>
	<div class="form-group no-margin" ng-class="{ 'has-success': itemForm.title.$valid, 'has-error': itemForm.title.$invalid }">
		<div class="col-sm-12">
			<div class="input-group">
				<input type="text" name="title" placeholder="Title" ng-model="model.title" class="form-control"  autofocus required>
	  			<span class="input-group-btn">
					<button class="btn btn-success" type="submit" ng-disabled="itemForm.$invalid">Save</button>
				</span>
			</div>
			<div class="text-danger" ng-show="itemForm.title.$dirty && itemForm.title.$error.required">
				The title is required
			</div>
		</div>
	</div>
	
</form>
