<table class="table table-striped">
	<thead>
		<tr>
			<input type="search" ng-model="query.title" placeholder="Search..." class="form-control text-items-search">
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in model | filter:query">
			<td>
				{{::item.title}}
				<span class="label label-default">
					{{::item.upload_date | ago}}
				</span>
			</td>
			<td class="table-right-element">
				<button ng-click="deleteItem({ itemId: item._id })" type="button" class="btn btn-success hidden-sm hidden-md hidden-lg">
					<i class="glyphicon glyphicon-ok"></i>
				</button>
				<button ng-click="deleteItem({ itemId: item._id })" type="button" class="btn btn-success hidden-xs">
					Done
					<i class="glyphicon glyphicon-ok"></i>
				</button>
			</td>
			<td class="table-right-element">
				<button ng-click="deleteItem({ itemId: item._id })" type="button" class="btn btn-danger hidden-sm hidden-md hidden-lg">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
				<button ng-click="deleteItem({ itemId: item._id })" type="button" class="btn btn-danger hidden-xs">
					Delete
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
