<div ng-controller="ThingController">
	
	<div class="jumbotron" ng-show="uiState=='blank'">
		<p class="lead">No data here</p>
	</div>
	
	<div class="alert alert-danger" ng-show="uiState=='error'">
		Error while loading data
	</div>

	<div ng-include="'views/ProgressBar.html'" ng-show="uiState=='loading'"></div>

	<div class="container">
		<h1 class="title">Thing</h1>
		<a class="btn btn-primary addItem" role="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
			<i class="glyphicon glyphicon-plus"></i>
		</a>
	</div>
	
	<text-item-add items="model" save-item="saveItem(stuff)" class="collapse" id="collapseForm"></text-item-add>


	<text-item-list items="model" ng-show="uiState=='ideal'"></text-item-list>

</div>
