<div ng-controller="TodoController">
	

	<div ng-include="'views/ProgressBar.html'" ng-show="uiState=='loading'"></div>

	<div class="container">
		<h1 class="title">TO-DO</h1>
		<a class="btn btn-primary addItem" role="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
			<i class="glyphicon glyphicon-plus"></i>
		</a>
	</div>
	
	<text-item-add model="model" save-item="saveItem(stuff)" class="collapse" id="collapseForm"></text-item-add>

	<div class="jumbotron" ng-show="uiState=='blank'">
		<p class="lead">No data here</p>
	</div>
	
	<div class="alert alert-danger" ng-show="uiState=='error'">
		Error while loading data
	</div>

	<text-item-list model="model" change-item-state="changeItemState(itemId)" delete-all="deleteAll()" delete-item="deleteItem(itemId)" ng-show="uiState=='ideal'"></text-item-list>

</div>
