.general {
	margin-top: 60px; 
}

.title {
	display: inline-block;
	margin: 0;
}

.addItem {
	margin-bottom: 16px;
	margin-left: 5px;
}

form {
	margin-top: 0px;
}

.jumbotron {
	margin-top: 0px;
	margin-bottom: 5px;
	padding: 5px 5px 5px 5px;
}

#item-input-box {
	
	padding-bottom: 10px;
}

#item-input-button {
	
	padding-bottom: 10px;
	text-align: center;
}

.table-right-element {
	text-align: right;
}