.login-box {
	background: #0885fa;
	background: linear-gradient(#0885fa, #59acf9, #7ef756);
	color: white;
	position: fixed; 
	top: 0; 
	left: 0; 

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}
