.login-box {
	background: #0885fa;
	background: linear-gradient(#337ab7, #59acf9, #7ef756);
	color: white;
	position: fixed; 
	top: 0; 
	left: 0; 

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;

	.row {
		margin-left: 10px;
	}

	#margin-bottom {
		margin-bottom: 5px;
	}
}
